/* Default style.css */

/* The full screen window */
window {
  background: rgba(0, 0, 0, 0.3);
}

/* The main visable widget */
.main {
  background: #272335;
  padding: 8px;
  border-radius: 10px;
}
